{% if site.footer-links.email %}
  <a href="mailto:{{ site.footer-links.email }}">
    <svg aria-hidden="true" class="svg-icon email" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 64 64">
			<g>
				<path d="M46,21H18c-1.104,0-2,0.896-2,2v18c0,1.104,0.896,2,2,2h28c1.104,0,2-0.896,2-2V23C48,21.896,47.104,21,46,21z
					 M44.205,23L32,35L19.891,23H44.205z M18,41V24.006l9.589,9.589L20.061,41H18z M22.985,41l6.081-5.927l1.58,1.579
					c0.781,0.781,2.047,0.781,2.829,0l1.531-1.531L41.087,41H22.985z M46,41h-1.939l-7.527-7.405L46,24.128V41z"/>
			</g>
    </svg>
    <span class="screen-reader-text">Email</span>
  </a>
{% endif %}

{% if site.footer-links.googlescholar %}
  <a href="https://scholar.google.com/citations?user={{ site.footer-links.googlescholar }}">
    <i class="svg-icon googlescholar"></i>
    <span class="screen-reader-text">Google Scholar</span>
  </a>
{% endif %}

{% if site.footer-links.github %}
  <a href="https://github.com/{{ site.footer-links.github }}">
    <i class="svg-icon github"></i>
    <span class="screen-reader-text">GitHub</span>
  </a>
{% endif %}

{% if site.footer-links.stackoverflow %}
  <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
    <i class="svg-icon stackoverflow"></i>
    <span class="screen-reader-text">Stack Overflow</span>
  </a>
{% endif %}

{% if site.footer-links.twitter %}
  <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <i class="svg-icon twitter"></i>
    <span class="screen-reader-text">Twitter</span>
  </a>
{% endif %}

{% if site.footer-links.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i class="svg-icon linkedin"></i>
    <span class="screen-reader-text">LinkedIn</span>
  </a>
{% endif %}

{% if site.footer-links.flickr %}
  <a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
    <i class="svg-icon flickr"></i>
    <span class="screen-reader-text">Flickr</span>
  </a>
{% endif %}

{% if site.footer-links.instagram %}
  <a href="https://instagram.com/{{ site.footer-links.instagram }}">
    <i class="svg-icon instagram"></i>
    <span class="screen-reader-text">Instagram</span>
  </a>
{% endif %}

{% if site.footer-links.youtube %}
  <a href="https://youtube.com/{{ site.footer-links.youtube }}">
    <i class="svg-icon youtube"></i>
    <span class="screen-reader-text">YouTube</span>
  </a>
{% endif %}

{% if site.footer-links.rss %}
  <a href="{{ site.baseurl }}/feed.xml">
    <i class="svg-icon rss"></i>
    <span class="screen-reader-text">RSS</span>
  </a>
{% endif %}
