{% if site.footer-links.email %}
  <a href="mailto:{{ site.footer-links.email }}">
    <i class="svg-icon email"></i>
    <span class="screen-reader-text">Email</span>
  </a>
{% endif %}

{% if site.footer-links.googlescholar %}
  <a href="https://scholar.google.com/citations?user={{ site.footer-links.googlescholar }}">
    <i class="svg-icon googlescholar"></i>
    <span class="screen-reader-text">Google Scholar</span>
  </a>
{% endif %}

{% if site.footer-links.github %}
  <a href="https://github.com/{{ site.footer-links.github }}">
    <i class="svg-icon github"></i>
    <span class="screen-reader-text">GitHub</span>
  </a>
{% endif %}

{% if site.footer-links.stackoverflow %}
  <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">
    <i class="svg-icon stackoverflow"></i>
    <span class="screen-reader-text">Stack Overflow</span>
  </a>
{% endif %}

{% if site.footer-links.twitter %}
  <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">
    <i class="svg-icon twitter"></i>
    <span class="screen-reader-text">Twitter</span>
  </a>
{% endif %}

{% if site.footer-links.linkedin %}
  <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">
    <i class="svg-icon linkedin"></i>
    <span class="screen-reader-text">LinkedIn</span>
  </a>
{% endif %}

{% if site.footer-links.flickr %}
  <a href="https://www.flickr.com/{{ site.footer-links.flickr }}">
    <i class="svg-icon flickr"></i>
    <span class="screen-reader-text">Flickr</span>
  </a>
{% endif %}

{% if site.footer-links.instagram %}
  <a href="https://instagram.com/{{ site.footer-links.instagram }}">
    <i class="svg-icon instagram"></i>
    <span class="screen-reader-text">Instagram</span>
  </a>
{% endif %}

{% if site.footer-links.youtube %}
  <a href="https://youtube.com/{{ site.footer-links.youtube }}">
    <i class="svg-icon youtube"></i>
    <span class="screen-reader-text">YouTube</span>
  </a>
{% endif %}

{% if site.footer-links.rss %}
  <a href="{{ site.baseurl }}/feed.xml">
    <i class="svg-icon rss"></i>
    <span class="screen-reader-text">RSS</span>
  </a>
{% endif %}
