.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  fill: #000;
  border-radius: 25%;
}

a:hover, a:focus, a:active {
  .svg-icon {
    background-color: #333;
    fill: #fff;
  }
}
