.svg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  fill: #000;
  border-radius: 25%;
  padding: 5px;
}

footer .profiles {
  a {
    text-decoration: none;
    
     &:hover, &:focus, &:active {
      .svg-icon {
        background-color: #333;
        fill: #fff;
      } 
    }
  }
}

footer .profiles ul {
  display: block;
  list-style: none;
}

@media screen and (min-width: 600px) {
  footer .profiles ul {
    -webkit-columns: 300px 2;
    -moz-columns: 300px 2;
    columns: 300px 2;
  }
}
